export(CreateEgoNetwork,CreateActorNetwork,CreateBimodalNetwork,CreateSemanticNetwork,CreateDynamicNetwork,GetYoutubeVideoIDs,CollectDataFacebook,CollectDataTwitter,CollectDataYoutube,AuthenticateWithFacebookAPI,AuthenticateWithTwitterAPI,AuthenticateWithYoutubeAPI,AuthenticateWithInstagramAPI,CollectDataInstagram,Collect,Authenticate,Create,SaveCredential,LoadCredential)
import(tm,RCurl,bitops,rjson,data.table,httpuv,methods,httr)
importFrom(Hmisc, escapeRegex)
importFrom(igraph, delete.vertices)
importFrom(igraph, graph.data.frame)
importFrom(igraph, simplify)
importFrom(igraph, write.graph)
importFrom(igraph, V)
importFrom(igraph, 'V<-')
importFrom(Rfacebook, fbOAuth)
importFrom(Rfacebook, getPost)
importFrom(Rfacebook, getPage)
importFrom(Rfacebook, getUsers)
importFrom(instaR, getComments)
importFrom(instaR, getLikes)
importFrom(instaR, instaOAuth)
importFrom(instaR, searchInstagram)
importFrom(instaR, getUser)
importFrom(instaR, getFollowers)
importFrom(instaR, getFollows)
importFrom(plyr, ldply)
importFrom(twitteR, lookupUsers)
importFrom(twitteR, searchTwitter)
importFrom(twitteR, setup_twitter_oauth)
importFrom(twitteR, twListToDF)
importFrom(stringr, str_extract)
importFrom(stringr, str_replace_all)
importFrom(stringr, str_match_all)
importFrom("stats", "na.omit")
importFrom("utils", "flush.console", "head", "install.packages","read.table", "write.csv")
S3method(CreateActorNetwork,twitter)
S3method(CreateActorNetwork,list)
S3method(CreateActorNetwork,youtube)
S3method(CreateBimodalNetwork,facebook)
S3method(CreateBimodalNetwork,twitter)
S3method(CreateBimodalNetwork,list)
S3method(CreateSemanticNetwork,twitter)
S3method(CreateSemanticNetwork,list)
S3method(CreateDynamicNetwork,facebook)
S3method(CreateBimodalNetwork,instagram)
